.menu-item {
    text-decoration: none;
    &:hover {
        background: #ddd;
    }
    .tooltip {
        position: absolute;
        background: #ddd;
        padding: 18px;
        margin-top: -16px;
    }
}